<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Contact Us</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <!--<link href="css/shop-homepage.css" rel="stylesheet">-->

</head>

<body>




            <h1 class="headline"> Contact Info </h1>
            <hr>
<div style="float: left;background-color: #196296;text-align: center;">


    <h3>Hours</h3><strong>
Sunday:  12pm - 7pm <br>
Monday:  11am - 9pm<br>
Tuesday:  11am - 9pm<br>
Wednesday:  11am - 9pm<br>
Thursday:  11am - 9pm<br>
Friday:  11am - 9pm<br>
Saturday:  11am - 9pm

</strong>

  <h3>Odysseus Vapor</h3>
        <strong>
          5155 Atlanta Hwy #101 <br>
           Alpharetta, GA 30004 <br>
           Phone: (770) 674-1503<br>
           Email: max@odysseusvapor.com
           <br>

           </strong>
           <br>
   <a href="https://www.yelp.com/biz/odysseus-vapor-alpharetta">
    <img style='height:50px;width:85px;' src='http://cdn1.buuteeq.com/upload/2053649/yelp-reviews-2-logo.png'>
</a>
<p></p>


</div>

<img class="aboutpic" src="https://s3-media2.fl.yelpcdn.com/buphoto/Yt126zK2nC1FVqFd1EaKww/o.jpg">
    <!-- /.container -->

    <div class="container">



        <!-- Footer -->
        <footer>

                    <p>Copyright &copy; Odysseus Vapor</p>

        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!--<script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script>-->

</body>

</html>
