<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop About page - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>




            <h1 class="headline"> Contact Info </h1>
            <hr>
<div style="float: left">


    <h3>Hours</h3>
    <strong>
Sunday:  12pm - 7pm <br>
Monday:  11am - 9pm<br>
Tuesday:  11am - 9pm<br>
Wednesday:  11am - 9pm<br>
Thursday:  11am - 9pm<br>
Friday:  11am - 9pm<br>
Saturday:  11am - 9pm

</strong>





        <h3>Odysseus Vapor</h3>
        <strong>
          5155 Atlanta Hwy #101 <br>
           Alpharetta, GA 30004 <br>
           Phone: (770) 674-1503<br>
           Email: max@odysseusvapor.com
           </strong>


</div>

<img class="aboutpic" src="https://s3-media3.fl.yelpcdn.com/bphoto/yOjLQ9eUzuhWEPHw12AQow/o.jpg">
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>

                    <p>Copyright &copy; Odysseus Vapor</p>

        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
