<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



    <!-- Page Content -->

            <h1 class="headline"> Welcome to Odysseus Vapor </h1>
            <hr>
    <div class="container">

   <!--      <div class="row">

            <div class="col-md-9"> -->

<h4 class='intro'> Thank for visiting our homepage! <br>
Sign up and make a wishlist to get 10% off your in-store purchase</h4>
                <div class="row carousel-holder">


                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="https://i.ytimg.com/vi/9f3jEkmK4Qs/maxresdefault.jpg" alt="girl vaping">
                                </div>
                                   <div class="item">
                                    <img class="slide-image" src="https://s3-media3.fl.yelpcdn.com/bphoto/yOjLQ9eUzuhWEPHw12AQow/o.jpg" alt="Professional woman hitting vape pen">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://www.churnmag.com/wp-content/uploads/2015/11/vaping-regulations-www.imagesplitter.net-2.jpeg" alt="Professional woman hitting vape pen">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://i1.ypcdn.com/blob/a79b77dc0b20518920e0edbc0ebd822d0cbf107d" alt="Store front">
                                </div>

                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>

                        </div>
                    </div>

                </div>


    </div>
      <br/>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign in",      new_user_session_path,      class: "btn btn-large btn-primary" %>





        <hr>


        <footer>

                    <p>Copyright &copy; Odysseus Vapor 2016</p>

        </footer>

  <!--   </div> -->
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
