<li><%= link_to 'About', '/welcome/about' %></li>
<li><%= link_to 'Products', '/products' %></li>
<li><%= link_to 'Contact', '/welcome/contact' %></li>
<li><%= link_to 'Wishlist', '/wishlists' %></li>
